<ion-header>

  <ion-navbar>
    <ion-title>{{festa_config.nome}} - User:{{vendedor.nome}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings($event)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-list-header>
      <button ion-button icon-only [outline]="vendas=='delete'" (click)="vendas='vendas'">
        <ion-icon name="cart" item-start></ion-icon>
      </button>
      <button ion-button icon-only [outline]="vendas=='vendas'"(click)="vendas='delete'" >
        <ion-icon name="trash" item-start></ion-icon>
      </button>
      Vendas
    </ion-list-header>
    <ion-list class="select">

      <ion-item class="label-button">
        <ion-label>Tipo</ion-label>
      </ion-item>
      <ion-buttons end>

          <button item-end ion-button color="dark" [outline]="comprador.tipo=='1'" (click)="setTipo('0')" >Aluno</button>
          <button item-end ion-button color="dark" [outline]="comprador.tipo=='0'" (click)="setTipo('1')">Convidado</button>
      </ion-buttons>

      <ion-item *ngIf="comprador.tipo=='0'">
        <ion-label>R.A:</ion-label>
        <ion-input type="text" [(ngModel)]="comprador.registro" Mask="99.99999-9" (ngModelChange)="registroChange()"  (keyup.enter)="getInfos()"></ion-input>
      </ion-item>

      <ion-item *ngIf="comprador.tipo=='1'">
          <ion-label>CPF:</ion-label>
          <ion-input type="text" [(ngModel)]="comprador.registro" Mask="999.999.999-99" (ngModelChange)="registroChange()"  (keyup.enter)="getInfos()"></ion-input>
        </ion-item>

    </ion-list>
    <ion-list *ngIf="comprador.tipo && buscar">
      <button ion-item (click)="getInfos()">
        <ion-icon name="search" item-start></ion-icon>
        {{comprador.tipo=='0'?'Buscar Aluno': 'Validar CPF'}}
      </button>
    </ion-list>

    <!-- Delete -->
    <ion-list *ngIf="vendas == 'delete'">
      <ion-item *ngFor="let item of listDel">
        <ion-label>
          {{item.nome}}
        </ion-label>
        <button ion-button icon-only (click)="delVenda(item.id_venda)"  >
          <ion-icon name="trash" item-start></ion-icon>
        </button>
      </ion-item>
    </ion-list>

    <!-- Vendas -->
    <ion-list *ngIf="comprador.tipo=='0' && comprador.nome && vendas !== 'delete'" class="select">

      <ion-item>
        <ion-label style="text-align:center;">{{comprador.nome}} - {{comprador.periodo}}</ion-label>
      </ion-item>
      <ion-item class="label-button">
        <ion-label>Sexo</ion-label>
      </ion-item>
      <ion-buttons end>
          <button ion-button  [outline]="comprador.sexo=='Feminino'" (click)="comprador.sexo='Masculino'" >Masculino</button>
          <button ion-button color="danger" [outline]="comprador.sexo=='Masculino'" (click)="comprador.sexo='Feminino'">Feminino</button>
      </ion-buttons>
      <!-- <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select [(ngModel)]="comprador.sexo" placeholder="Selecione" interface="popover">
          <ion-option value="Feminino">Feminino</ion-option>
          <ion-option value="Masculino">Masculino</ion-option>
        </ion-select>
      </ion-item> -->

      <ion-buttons end *ngIf="festa_config.flag_camarote">
        <button ion-button  [outline]="comprador.ingresso=='Camarote'" (click)="comprador.ingresso='Pista'" >Pista</button>
        <button ion-button color="danger" [outline]="comprador.ingresso=='Pista'" (click)="comprador.ingresso='Camarote'">Camarote</button>
      </ion-buttons>
      <ion-item *ngIf="comprador.ingresso || !festa_config.flag_camarote">
        <ion-label>Lote Ativo</ion-label>
        <ion-select [(ngModel)]="festa_config.lote_ativo" interface="popover" *ngIf="comprador.ingresso=='Pista' || !festa_config.flag_camarote">
          <ion-option *ngFor="let lote of lotes_pista_aluno" [value]="lote.value">{{lote.value}}º Lote </ion-option>
        </ion-select>
        <ion-select [(ngModel)]="festa_config.lote_ativo" interface="popover" *ngIf="comprador.ingresso=='Camarote'">
          <ion-option *ngFor="let lote of lotes_camarote_aluno" [value]="lote.value">{{lote.value}}º Lote </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="comprador.ingresso || !festa_config.flag_camarote">
        <ion-label>Valor: </ion-label>
        <ion-label class="result">{{ ((comprador.ingresso=='Pista' || !festa_config.flag_camarote?(lotes_pista_aluno[festa_config.lote_ativo-1].label):(lotes_camarote_aluno[festa_config.lote_ativo-1].label)) - (comprador.alimento ? 5 : 0) ) | currency:'BRL'}}</ion-label>
      </ion-item>
      <ion-item  *ngIf="festa_config.flag_alimento" >
        <ion-label>Alimento</ion-label>
        <ion-toggle color="dark"  [(ngModel)]="comprador.alimento"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="comprador.tipo=='1' && (comprador.nome || comprador.novo) && vendas !== 'delete'" class="select">

      <ion-item  >
        <ion-label *ngIf="comprador.novo">Nome Comprador:</ion-label>
        <ion-label *ngIf="!comprador.novo" style="text-align:center;">{{comprador.nome}}</ion-label>
        <ion-input *ngIf="comprador.novo" type="text" [(ngModel)]="comprador.nome"></ion-input>
      </ion-item>
      <!-- <ion-item col-sm-6 style="float: left;">
        <ion-label>Quantidade:</ion-label>
        <ion-input type="number" [(ngModel)]="comprador.quantidade"></ion-input>
      </ion-item> -->
      <ion-item class="label-button">
        <ion-label>Sexo</ion-label>
      </ion-item>
      <ion-buttons end>
          <button ion-button  [outline]="comprador.sexo=='Feminino'" (click)="comprador.sexo='Masculino'" >Masculino</button>
          <button ion-button color="danger" [outline]="comprador.sexo=='Masculino'" (click)="comprador.sexo='Feminino'">Feminino</button>
      </ion-buttons>

      <ion-buttons end *ngIf="festa_config.flag_camarote">
        <button ion-button  [outline]="comprador.ingresso=='Camarote'" (click)="comprador.ingresso='Pista'" >Pista</button>
        <button ion-button color="danger" [outline]="comprador.ingresso=='Pista'" (click)="comprador.ingresso='Camarote'">Camarote</button>
      </ion-buttons>
      <ion-item *ngIf="comprador.ingresso || !festa_config.flag_camarote">
        <ion-label>Lote Ativo</ion-label>
        <ion-select [(ngModel)]="festa_config.lote_ativo" interface="popover" *ngIf="comprador.ingresso=='Pista' || !festa_config.flag_camarote">
          <ion-option *ngFor="let lote of lotes_pista_naluno" [value]="lote.value">{{lote.value}}º Lote </ion-option>
        </ion-select>
        <ion-select [(ngModel)]="festa_config.lote_ativo" interface="popover" *ngIf="comprador.ingresso=='Camarote'">
          <ion-option *ngFor="let lote of lotes_camarote_naluno" [value]="lote.value">{{lote.value}}º Lote </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="comprador.ingresso || !festa_config.flag_camarote">
        <ion-label>Valor: </ion-label>
        <ion-label class="result">{{ ((comprador.ingresso=='Pista' || !festa_config.flag_camarote?(lotes_pista_naluno[festa_config.lote_ativo-1].label):(lotes_camarote_naluno[festa_config.lote_ativo-1].label)) - (comprador.alimento ? 5 : 0) ) | currency:'BRL'}}</ion-label>
      </ion-item>
      <ion-item  *ngIf="festa_config.flag_alimento" >
        <ion-label>Alimento</ion-label>
        <ion-toggle color="dark"[(ngModel)]="comprador.alimento"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="comprador.ingresso || (!festa_config.flag_camarote && comprador.sexo)">
      <button ion-button block (click)="updateVenda()" color="secondary" >

          <ion-icon name="checkmark" item-start></ion-icon>
        Finalizar venda
      </button>
    </ion-list>


  </ion-card>

</ion-content>
