<ion-header>

  <ion-navbar>
    <ion-title>telaPrincipal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="cart"></ion-icon>
      Venda
    </ion-card-header>
    <ion-list class="select">

      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select [(ngModel)]="tipo" placeholder="Selecione" interface="popover">
          <ion-option value="0">Aluno</ion-option>
          <ion-option value="1">Convidado</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="comprador.tipo=='0'">
        <ion-label>R.A:</ion-label>
        <ion-input type="text" [(ngModel)]="comprador.registro" Mask="99.99999-9" (ngModelChange)="registroChange()"  (keyup.enter)="getInfos()"></ion-input>
      </ion-item>

      <ion-item *ngIf="comprador.tipo=='1'">
          <ion-label>CPF:</ion-label>
          <ion-input type="text" [(ngModel)]="comprador.registro" Mask="999.999.999-99" (ngModelChange)="registroChange()"  (keyup.enter)="getInfos()"></ion-input>
        </ion-item>

    </ion-list>
    <ion-list *ngIf="comprador.tipo && buscar">
      <button ion-item (click)="getInfos()">
        Buscar
      </button>
    </ion-list>

    <ion-list *ngIf="comprador.tipo=='0' && comprador.nome" class="select">

      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-label class="result">{{comprador.nome}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select [(ngModel)]="comprador.sexo" placeholder="Selecione" interface="popover">
          <ion-option value="Feminino">Feminino</ion-option>
          <ion-option value="Masculino">Masculino</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Valor: </ion-label>
        <ion-label class="result">{{comprador.valor}}</ion-label>
      </ion-item>

    </ion-list>

    <ion-list *ngIf="comprador.tipo=='1' && (comprador.nome || comprador.novo)" class="select">

      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-label *ngIf="!comprador.novo" class="result">{{comprador.nome}}</ion-label>
        <ion-input *ngIf="comprador.novo" type="text" [(ngModel)]="comprador.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select [(ngModel)]="comprador.sexo" interface="popover">
          <ion-option value="Feminino">Feminino</ion-option>
          <ion-option value="Masculino">Masculino</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Valor: </ion-label>
        <ion-label class="result">{{comprador.valor}}</ion-label>
      </ion-item>

    </ion-list>


  </ion-card>

</ion-content>
